{% block content %}
  <div{{ attributes }}>
    <div class="text-column rt-content testa">
      {{ content.field_bayph_radlgy_headline }}
      {{ content.field_bayph_radlgy_body }}
      {{ content.field_bayph_radlgy_bg_color }}
    </div>
  </div>
{% endblock %}


